<div id=captionr class=container>
  <div class=page-header>
    Video 1
  </div>

  <div class=row>
    <div class=span8>
      <div id=video-holder></div>

      <fieldset>
        <input class=span8 type=text id=new-marker placeholder='Enter caption'></input>
        <br />
      </fieldset>
    </div>

    <div class=span8>
      <ul id=marker-list class=unstyled></ul>
      <button class='btn primary' id=export>Export</button>
      <button class='btn danger' id=redo>Clear All</button>
      <textarea id=output cols=50 rows=5 style='display: none; margin-top: 10px' class=span8></textarea>
    </div>
  </div>
</div>
