<div id='captionr'>
  <div id='video-holder'></div>
  <button id=export>Export to SRT</button>
  <button id=redo>Start Over</button>
  <textarea id=output cols=50 rows=5 style='display: none'></textarea>
  <fieldset>
    <label for='new-marker'>Enter Caption:</label>
    <input type='text' id='new-marker'></input>
  </fieldset>
  <ul id='marker-list'></ul>
</div>
