// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#marker-list li {
  margin-top: 4px;
}

li.highlighted {
  font-weight: bold;
  font-size: 1.1em;
}
